<%= form_for(@ums_user) do |f| %>
  <% if @ums_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ums_user.errors.count, "error") %> prohibited this ums_user from being saved:</h2>

      <ul>
      <% @ums_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account ,'账号'%>
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :name ,'姓名'%>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password ,"密码" %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email ,'邮箱'%>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :role ,"角色"%>
    <%= f.select :role_id, @ums_roles.collect {|p| [ p.name, p.id ] }%>
  </div>
  <div class="field">
    <%= f.label :is_enabled ,'是否可用'%>
    <%= f.check_box :is_enabled %>
  </div>
  <div class="actions">
    <%= f.submit ' 保存 ',:class => 'btn btn-primary',data: { disable_with: '正在保存...' }%>
    &nbsp;&nbsp;
    <%= link_to ' 返回 ', ums.users_path,:class => "btn btn-default" %>
  </div>
<% end %>

