<h1>修改密码</h1>
<% if flash[:notice] || flash[:error]  %>
<div class="alert <%= "alert-success" if flash[:notice] %> <%= "alert-danger" if flash[:error] %>">
  <a class="close" data-dismiss="alert">×</a>
  <%= flash[:notice] %><%= flash[:error] %>
</div>
<% end %>
<%= form_tag do %>
	<fieldset>
        <div>
        	<label for="old_password">输入旧密码:</label>
        	<%= password_field_tag :old_password,params[:old_password] %>
        </div>
        <div>
        	<label for="new_password">输入新密码:</label>
        	<%= password_field_tag :new_password,params[:new_password] %>        	
        </div>
       <div>
                <label for="re_password">重复新密码:</label>
                <%= password_field_tag :re_password,params[:re_password] %>           
        </div>
        <div>
        	<%= submit_tag "修改" ,:class => "btn btn-primary" %>
        </div>
	</fieldset>
<% end %>