<%= javascript_include_tag "ums/application" %>

<h1>修改密码</h1>
<% if flash[:notice] || flash[:error]  %>
<div class="alert <%= "alert-success" if flash[:notice] %> <%= "alert-danger" if flash[:error] %>">
  <a class="close" data-dismiss="alert">×</a>
  <%= flash[:notice] %><%= flash[:error] %>
</div>
<% end %>
<%= form_tag do %>
   <%= hidden_field_tag :account,session[:user_account] %>
	<fieldset>
        <div>
        	<label for="old_password">输入旧密码:</label>
        	<%= password_field_tag :old_password %>
        </div>
        <div>
        	<label for="new_password">输入新密码:</label>
        	<%= password_field_tag :new_password %>        	
        </div>
       <div>
                <label for="re_password">重复新密码:</label>
                <%= password_field_tag :re_password %>           
        </div>
        <div>
        	<%= button_tag "修改" ,:class => "btn btn-primary",:onclick => "return validate_form();"%>
        </div>
	</fieldset>
<% end %>

 <script type="text/javascript">
function validate_form (){
    var account = $("#account").val();
    var old_password = $("#old_password").val();
    var new_password = $("#new_password").val();
    var re_password = $("#re_password").val();
    if (old_password == "") {
        alert("请输入旧密码");
        $("#old_password").focus();
        return false;
    };
    if (new_password == "") {
        alert("输入新密码");
        $("#new_password").focus();
        return false;
    };
    if (new_password != re_password) {
        alert("两次输入的新密码不一致");
        $("#re_password").focus();
        return false;
    };

    old_password = CryptoJS.SHA256(account +  CryptoJS.SHA256(old_password)).toString(CryptoJS.enc.Hex);
    new_password = CryptoJS.SHA256(account +  CryptoJS.SHA256(new_password)).toString(CryptoJS.enc.Hex);
    re_password = CryptoJS.SHA256(account +  CryptoJS.SHA256(re_password)).toString(CryptoJS.enc.Hex);

    //alert(old_password);

    $("#old_password").val(old_password);
    $("#new_password").val(new_password);
    $("#re_password").val(re_password);

    return true;
}
</script>